{% load static %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'views/style.css' %}">

<script>
    $( function() {
        var availableTags = [
        {% for word in suggested_keywords %}
            "{{ word }}",
        {% endfor %}
        ];
        function split( val ) {
          return val.split( /,\s*/ );
        }
        function extractLast( term ) {
          return split( term ).pop();
        }

        $( "#keywords" )
        // don't navigate away from the field on tab when selecting an item
        .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
            event.preventDefault();
        }
        })
        .autocomplete({
            minLength: 0,
            source: function( request, response ) {
                // delegate back to autocomplete, but extract the last term
                response( $.ui.autocomplete.filter(
                availableTags, extractLast( request.term ) ) );
            },
            focus: function() {
                // prevent value inserted on focus
                return false;
            },
            select: function( event, ui ) {
                var terms = split( this.value );
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push( ui.item.value );
                // add placeholder to get the comma-and-space at the end
                terms.push( "" );
                this.value = terms.join( ", " );
                return false;
            }
        });
    });
</script>

{% include "views/menu.html" %}

<div class="update">
    <h1>Update image</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="image">
        <a href="{{ MEDIA_URL }}{{ image.filename }}">
            <img src="{{ MEDIA_URL }}{{ image.filename }}" />
        </a>
    </div>
    <form autocomplete="off" action="{% url 'views:update' pk=image.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="text" name="image_title" placeholder="title" required="true" value="{{ image.title }}" /><br />
        <textarea name="image_description" placeholder="description" rows="3" cols="60" required="true">{{ image.description }}</textarea><br />
        <input type="text" id="keywords" name="image_keywords" placeholder="keywords" required="true" value="{{ image.keywords }}" /><br />
        <input type="submit" value="Update">
    </form>
</div>

<div class="loading hidden"></div>