{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'views/style.css' %}">

{% include "views/menu.html" %}
<div class="mainpage">
    {% if latest_images %}
        <div class="navigation">
            <a href="{% url 'views:index' %}?page={{last_page}}&limit={{limit}}" class="left">&lt;&lt;</a>
            <a href="{% url 'views:index' %}?page={{next_page}}&limit={{limit}}" class="right">&gt;&gt;</a>
        </div>
        {% for image in latest_images %}
            <div class="sample">
                <a href="{% url 'views:show' image.id %}">
                    <div class="title">{{ image.title }}</div>
                    <img src="{{ MEDIA_URL }}{{ image.filename }}" class="sample" />
                </a>
            </div>
        {% endfor %}
        <div class="navigation">
            <a href="{% url 'views:index' %}?page={{last_page}}&limit={{limit}}" class="left">&lt;&lt;</a>
            <a href="{% url 'views:index' %}?page={{next_page}}&limit={{limit}}" class="right">&gt;&gt;</a>
        </div>
    {% else %}
        <p>No images are available.</p>
    {% endif %}
</div>