{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'views/style.css' %}">

{% include "views/menu.html" %}

<div class="show">
    <h1>{{ image.title }}</h1>
    <div class="image">
        <a href="{{ MEDIA_URL }}{{ image.filename }}">
            <img src="{{ MEDIA_URL }}{{ image.filename }}" />
        </a>
    </div>
    <p>
        {% for word in keywords %}
            <a href="{% url 'views:search' %}?keywords={{word}}">{{ word }}</a>
        {% endfor %}
    </p>
    <p>{{ image.description }}</p>
    <p>Posted: {{ image.pub_date }}</p>
    <p>
        <a href="{% url 'views:update' pk=image.id %}">&#x1f58a;&#xfe0f;</a>
    </p>
</div>